<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geekymad.blog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SigninActivity"
            android:label="Sign In"
            android:theme="@style/SignInTheme" />
        <activity
            android:name=".SignupActivity"
            android:label="Get Started"
            android:theme="@style/GetStartedTheme" />
        <activity
            android:name=".ChatActivity"
            android:label="Chats"
            android:theme="@style/ChatTheme">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".ChatActivity">
        </activity>
    </application>

</manifest>